<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
        crossorigin="anonymous">
  <title>Title</title>
  <style>
    #formUrl::placeholder {
      color: #bbb;
    }
  </style>
</head>
<body>
<div class="container">
  <form style="margin-top:10px">
    <div class="mb-3">
      <label for="formUrl" class="form-label">URL</label>
      <input type="url" class="form-control" placeholder="https://www.naver.com" id="formUrl">
      <div class="form-text url-error" style="color:red"></div>
    </div>
    <div class="mb-3">
      <label for="removeType" class="form-label">노출유형</label>
      <select id="removeType" class="form-select">
        <option value="REMOVE_HTML">HTML 태그 제외</option>
        <option value="REMOVE_NOTHING">TEXT 전체</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="outputUnitCount" class="form-label">출력 묶음 단위</label>
      <input type="number" min="1" value="50" class="form-control" id="outputUnitCount">
    </div>
    <button type="submit" class="btn btn-primary">출력</button>
  </form>
  <div style="margin-top:10px">
    <div class="mb-3">
      <label for="quotient" class="form-label">몫</label>
      <textarea class="form-control" id="quotient" rows="3"></textarea>
    </div>
    <div class="mb-3">
      <label for="remainder" class="form-label">나머지</label>
      <textarea class="form-control" id="remainder" rows="3"></textarea>
    </div>
  </div>
</div>
<script>
    const form = document.querySelector("form");
    const formUrl = document.querySelector("#formUrl");
    const formUrlError = document.querySelector(".url-error");
    const removeType = document.querySelector("#removeType");
    const outputUnitCount = document.querySelector("#outputUnitCount");
    const quotient = document.querySelector("#quotient");
    const remainder = document.querySelector("#remainder");

    form.addEventListener("submit", (e) => {
        e.preventDefault()
        formUrlError.textContent = ""
        const url = `parse`;
        const options = {
            method: 'POST',
            mode: 'cors',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json;charset=UTF-8'
            },
            body: JSON.stringify({
                url: formUrl.value,
                removeType: removeType.options[removeType.selectedIndex].value,
                outputUnitCount: Number(outputUnitCount.value)
            })
        };
        fetch(url, options)
        .then(response => {
            return response.json()
        })
        .then(json => {
            console.log(json)
            if (json.code) {
                formUrlError.textContent = json.message
            } else {
                quotient.textContent = json.quotient
                remainder.textContent = json.remainder
            }
        })
        .catch(console.error)
    })
</script>
</body>
</html>
